<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Administracion Base de datos</title>
    <link rel="stylesheet" href="/css/administrar/gestionHome.css">
</head>

<body>
    <div class="container2 pokemon">

        <button class="gestionPokemon" onclick="window.location.href='/pokemon/r'">
            <label class="subtitulo">Pokemon</label>
        </button>
        <button class="gestionEntrenador" onclick="window.location.href='/entrenador/r'">
            <label class="subtitulo">Entrenador</label>
        </button><br>
        <button class="gestionTipo" onclick="window.location.href='/tipo/r'">
            <label class="subtitulo">Tipo</label>
        </button>
        <button class="gestionAtaque" onclick="window.location.href='/ataque/r'">
            <label class="subtitulo">Ataque</label>
        </button>
    </div>

</body>

</html>