.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc((100vw - 60px) / 3);
    max-width: 300px;
    height: calc((100vw - 60px) / 3 * 1.37);
    max-height: 411px;
    position: relative;
    margin: 10px;
    border-radius: 5% / 3.5%;
    background-color: blue;
    transform-origin: center;
  }
  .card button {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
  }
  .card img {
    margin-top: 20%;
    height: 100px;
    width: 100px;
  }
  .card:focus {
    background-color: red;
  }
  