<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Pokémon</title>
    <link rel="stylesheet" href="/css/administrar/tipo.css">
    <script src="/js/administrar/ventanaTipo.js"></script>

</head>
<body>
    <table>
        <tr th:each="row : ${#numbers.sequence(0, (tipos.size() / 8) - 1)}">
            <td th:each="index : ${#numbers.sequence(row * 8, row * 8 + 7)}" th:if="${index lt tipos.size()}">
                <div class="titulo">
                    <div th:class="'card' + ${tipos[index].id} + ' card'">
                        <div class="edita"  >
                            <button class="ventanaEditar botonEdita" th:attr="data-tipo-id=${tipos[__${index}__].id}">
                                <img src="/img/editar.png">
                            </button>
                            

                        </div>
                    </div>
                    <h2 th:text="${tipos[index].nombre}"></h2>

                </div>
            </td>
        </tr>
        <tr></tr>
    </table>

</body>
</html>