body{
    padding-left: 192px;
    padding-top: 170px;
    padding-bottom: 188px;
    padding-right: 200px;
    background-color: rgb(1, 146, 38);
    background-image: url(/img/mapa/arboles.png);
    width: 3000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.limites{
    width: 2502px;
    height: 1029px;
    border-radius: 10px;
    border: solid rgb(159, 91, 31) 2px;
    background-color: rgb(211, 155, 0);
    
}

.casa1{
    position: absolute;
    margin-left: 80px;
    margin-top: 120px;
    border:solid red 2px;
    width:252px ;
    height: 218px;
    background-image: url(/img/mapa/casa1.png);
    background-size: 100% 100%;

}
.casa2{
    position: absolute;
    margin-left: 110px;
    margin-top: 500px;
    border:solid red 2px;
    width:252px ;
    height: 218px;
    background-image: url(/img/mapa/centropokemon.png);
    background-size: 100% 100%;

}
.casa3{
    position: absolute;
    margin-left: 1250px;
    margin-top: 90px;
    border:solid red 2px;
    width:252px ;
    height: 218px;
    background-image: url(/img/mapa/centropokemon.png);
    background-size: 100% 100%;

}
.casa4{
    position: absolute;
    margin-left: 1200px;
    margin-top: 500px;
    border:solid red 2px;
    width:252px ;
    height: 218px;
    background-image: url(/img/mapa/centropokemon.png);
    background-size: 100% 100%;

}


.lago {
    width: 2600px;
    position: absolute;
    margin-left: -175px;
    margin-top: 1240px;
    height: 808px;
    background-image: url(/img/mapa/agua.JPG);
    background-size: 20% 20%;
    animation: moveBackground 40s linear infinite;
    border: 16px solid;
   border-radius: 340px 280px 200px 600px;
    border-color:  #C2B280;
}
.rio1{
    
    margin-top: -500px;

    
}
.rio2{
    margin-top: 450px;
  
}
.rio1,.rio2{
    width:200px ;
    position: absolute;
    margin-left: 594px;
    height: 808px;
    border-left: 16px solid;
    border-right: 16px solid;
    border-image: linear-gradient(to right, #C2B280, #8B4513, #654321, #A0522D,#000000,#A0522D, #654321, #8B4513, #C2B280) 50;
   
   }
.rio1,.rio2,.puente{
    background-image:url(/img/mapa/agua.JPG) ;
    background-size: 80% 30%;
    animation: moveBackground 10s linear infinite;
}
@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 200%;
    }
}


.puente{
    width:200px ;
    position: absolute;
    margin-left: 610px;
    margin-top: 300px;
    height: 150px;
}
.imagenPuente{
    margin-top: 0px;
    width: 100%;
    height: 115%;
}
.gyarados{
 
    width: 80px;
    height: 60px;
    background-image: url(/img/mapa/gyarados.png);
    background-size:cover ;
    margin-left: 200px;
    margin-top: 200px;
    animation: moveGyarados 14s linear infinite; 
} 
@keyframes moveGyarados {
    0% { transform: translateX(200px)scaleX(-1);  }
    49.99% { transform: translateX(1500px)scaleX(-1); }
    50% { transform: translateX(1500px); } 
    75% { transform: translateX(650px)translateY(500px); }
    100% { transform: translateX(200px); } /* Volver a la posición inicial */
}

.chico {
    position: absolute;
    width: 64px; /* Ancho de un solo frame */
    height: 64px; /* Altura de un solo frame */
    background-image: url('/img/chicoSprite.png');
    background-size: 256px 256px; /* Tamaño total de la imagen */
    background-position: 0 0; /* Posición de la primera figura */
}
