<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Ventana</title>
    <link rel="stylesheet" href="/css/administrar/editarTipo.css">
    <script src="/js/administrar/editarAtaque.js"></script>
</head>
<body>
    <div class="card">
        <h4 class="title">Editar Ataque</h4>
        <form id="editForm" method="post" action="/ataque/update">
            <div class="field">
                <input autocomplete="off" id="nombre" placeholder="Nuevo Nombre" class="input-field" name="nombre" type="text">
            </div>
             <input type="hidden" name="idAtaque" th:value="${idAtaque.id}">
            <button class="btn" type="submit">Enviar</button>
        </form>
    </div>
    
    <!-- Script para cerrar la ventana después de recibir la respuesta del servidor -->
</body>
</html>
