<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/combate/combate2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="generalCombate">
        <div id="infoPokeNPC" class="infoPokeSalvaje">
            <label id="nombrePokeNPC"></label>
            <label class="nivelSalvaje" th:text="|Nvl ${pokemonesNPC[0].nivel} | " id="nvlPokeNPC">Nvl</label>
            <label id="vidaPokeNPC" th:text="${pokemonesNPC[0].vida}" class="vida"></label>
            <div class="barraVida">
                <div class="vidaRestante" id="vidaRestanteNPC"></div>
            </div>
        </div>
        <div class="imgPokeSalvaje" id="imgPokeNPC"><div class="circulo1"></div></div>
        <div class="imgPokeEntrenador" id="imgPokeEntrenador"><div class="circulo2"></div></div>
        <div class="infoPokeEntrenador">
            <label th:text="${pokemones[0].especie.nombre}"></label>
            <label class="nivelEntrenador" th:text="|Nvl ${pokemones[0].nivel} |"></label>
            <label id="vidaPokeEntrenador" th:text="${pokemones[0].vidaActual}" class="vida2"></label>
            <div class="barraVida">
                <div class="vidaRestante" id="vidaRestanteEntrenador"></div>
            </div>
        </div>
        <div class="container-ball" id="container-ball">
            <div class="ball" id="ball"></div>
        </div>
    </div>
    <div class="contenedorAcciones">
        <div class="textoAcciones" id="textoAcciones"></div>
        <div class="acciones" id="acciones">
            <button id="ataque" class="btnAccion">Ataques</button>
            <button id="pokemones" class="btnAccion">Pokemons</button>
            <button id="huir" class="btnAccion">Huir</button>
        </div>
        <div class="ataques" id="ataques" style="display: none;">
            <button class="btnAtaque" id="ataque1" th:text="${pokemones[0].ataques[0].nombre}"></button>
            <button class="btnAtaque" id="ataque2" th:text="${pokemones[0].ataques[1].nombre}"></button>
            <button class="btnAtaque" id="ataque3" th:text="${pokemones[0].ataques[2].nombre}"></button>
            <button class="btnAtaque" id="ataque4" th:text="${pokemones[0].ataques[3].nombre}"></button>
        </div>
    </div>
    <div>
        <div th:each="pokemon : ${pokemonesNPC}">
            <button hidden th:id="'idPokeNPC_' + ${pokemon.id}"
                    th:data-id="${pokemon.especie.id}"
                    th:data-nombrePokeNPC="${pokemon.especie.nombre}"
                    th:data-idPokemonNPC="${pokemon.id}"
                    th:data-defensaPokeNPC="${pokemon.defensa}"
                    th:data-ataquePokeNPC="${pokemon.fuerza}"
                    th:data-vidaPokeNPC="${pokemon.vida}"
                    th:data-nvlPokeNPC="${pokemon.nivel}"
                    th:data-idTipoPokeNPC="${pokemon.especie.tipo.id}">
            </button>
        </div>
        
    </div>

    
    <button hidden th:id="idPokeEntrenador"
        th:data-id="${pokemones[0].especie.id}"
        th:data-nombrePokeEntrenador="${pokemones[0].especie.nombre}"
        th:data-idPokemonEntrenador="${pokemones[0].id}"
        th:data-defensaPokeEntrenador="${pokemones[0].defensa}"
        th:data-ataquePokeEntrenador="${pokemones[0].fuerza}"
        th:data-vidaPokeEntrenador="${pokemones[0].vidaActual}"
        th:data-vida2PokeEntrenador="${pokemones[0].vida}"
        th:data-nvlPokeEntrenador="${pokemones[0].nivel}"
    ></button>
    <button hidden th:id="idEntrenador" th:data-idEntrenador="${entrenador.id}"></button>
    <button hidden th:id="posiciones" 
        th:data-posicionX="${posicion}"
        th:data-posicionY="${posicionY}">
    </button>
</body>
<script src="/js/combate/combateNPC.js"></script>
</html>
