<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen de fondo en el cuerpo</title>
    <link rel="stylesheet" href="/css/inicio/index.css">
    <script src="/js/aniadirPokemonBD.js" defer></script>
    <link rel="icon" type="image/png" href="../img/pokeball.png">
</head>
<body>
    <!-- Contenido de tu página aquí -->
    <div class="mensaje parpadeo"><h1 class="titulo"><strong>Pulsa cualquier tecla para empezar</strong></h1></div>
   
    <img class="volumen" src="/img/muted.png" onclick="cambiarEstadoSonido()">
    <audio id="audio" src="/audio/pokemonIntro+.mp3"></audio>
    <script src="/js/inicio/index.js"></script>
</body>
</html>
