<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mapa</title>
    <link rel="stylesheet" href="/css/continuarPartida2.css">
</head>
<body>
    <div class="limites">
    <div class="casa casa1"></div>
    <div class="puerta1" id="puerta1"></div>
 
    <div class="lago">
        <div class="gyarados"></div>
    </div>

    <div class="rio1"></div>
    <div class="rio2"></div>
    <div class="puente">
        <img src="/img/mapa/puente.png" class="imagenPuente">
    </div>

    <div class="casa casa2"></div>
    <div class="casa casa3"></div>
    <div class="casa casa4"></div>
   



    </div>
    
</body>
</html>