<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/nuevaPartida/seleccionPoke.js"></script>
    <link rel="stylesheet" href="/css/partida/seleccionPoke.css">
</head>
<body>
    <div id="app">
        <h1>Selecciona tu Pokemon inicial</h1>
        <section class="cards">
            <button th:each="pokemon : ${pokemones}"
                    th:text="${pokemon.nombre}" 
                    th:name="'poke-' + ${pokemon.id}" 
                    th:id="${pokemon.id}" 
                    class="card">
            </button>
        </section>
      </div>
</body>
</html>
