.colorcito
{
  background: linear-gradient(to bottom right, #00FF00 , #007FFF,  green);
}

div img {
    display: block;
    margin: 0 auto; 
    width: 60%;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.cards .red {
    background-color: #3ca163;
}

.cards .blue {
    background-color: #3b82f6;
}

.cards .green {
    background-color: #22c55e;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 10vh;
    width: 35vh;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
    color: black;
}

.cards .card p.second-text {
    font-size: 1em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(5px); /* Aplica el efecto de desenfoque solo a las tarjetas que no están siendo seleccionadas */
}

.contenedor {
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
}

h1 {
    text-align: center;
}

.volver {
    text-align: center;
    margin-top: 20px;
}